body {
    font-family: Arial, sans-serif;
    background-color: #161616;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2a2a2a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


h1, h2 {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
    color: #9400d3;
}

.content-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item {
    width: calc(33.33% - 40px);
    border: 1px solid #444;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #6a0dad, #9400d3, #6a0dad, #4b0082);
    color: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.item img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.item .details {
    padding: 10px;
}

.item .details h3 {
    margin: 0;
    font-size: 1.2em;
    color: #fff;
}

.item .details p {
    margin: 10px 0 0;
    color: #ddd;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9400d3;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #6a0dad;
}

video {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.season {
    margin-top: 20px;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #6a0dad, #9400d3, #6a0dad, #4b0082);
    color: #fff;
}

.season h3 {
    margin: 0;
    font-size: 1.5em;
    color: #fff;
}

.season ul {
    list-style: none;
    padding: 0;
}

.season ul li {
    margin: 10px 0;
}

.season ul li a {
    color: #9400d3;
    text-decoration: none;
}

.season ul li a:hover {
    text-decoration: underline;
}
